html,
body {
  background: white;
  color: black;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
}

thead {
  border: 3px solid black;
  position: sticky;
  top: 0;
  background: white;
}

td,
th {
  border: 1px solid black;
  padding: 0.2em;
  text-align: left;
}

.not-participating {
  color: #555;
}

tbody tr:nth-child(odd) {
  background: #ddd;
}

tbody tr:hover {
  background: #ffc100;
}

tr.gender-M + tr.gender-W,
tr.gender-W + tr.gender-X {
  border-top: 3px solid black;
}

body {
  font-family: sans-serif;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  z-index: 1000;
}

.menu button {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
}

@media print {
  .menu {
    display: none;
  }
}
